This notebook was used to reformat & merge the energy consumption, generation & pricing data sourced from the EPİAŞ transparency platform ([link](https://seffaflik.epias.com.tr/home)).

The resulting merged dataset is available on [Kaggle](https://www.kaggle.com/datasets/ahmetzamanis/energy-consumption-and-pricing-trkiye-2018-2023).

## Setup

In [43]:
import pandas as pd
import numpy as np

In [44]:
input_dir = "C:/Users/Daniel/DeepLearningEnergyForecasting/data/analysis/raw/"
output_dir = "C:/Users/Daniel/DeepLearningEnergyForecasting/data/analysis/processed/"

## Data prep, consumption data

In [45]:
# 1. 데이터 로딩 (각각 불러오기)
train_df = pd.read_csv(input_dir + "train.csv", sep=",")
test_df = pd.read_csv(input_dir + "test.csv", sep=",")
building_df = pd.read_csv(input_dir + "building_info.csv", sep=",")

# 2. 숫자 형식 정리 (우리 데이터에 맞게 '-' 처리)
building_df['태양광용량(kW)'] = building_df['태양광용량(kW)'].replace('-', 0)
building_df['ESS저장용량(kWh)'] = building_df['ESS저장용량(kWh)'].replace('-', 0)
building_df['PCS용량(kW)'] = building_df['PCS용량(kW)'].replace('-', 0)

# 3. 데이터 결합 (concat 대신 merge 사용)
df_consumption = pd.merge(train_df, building_df, on='건물번호')
df_uncertain = pd.merge(test_df, building_df, on='건물번호')

# 4. 날짜/시간 처리 (우리 데이터에 맞게 datetime으로 변환)
df_consumption['일시'] = pd.to_datetime(df_consumption['일시'], format='%Y%m%d %H')
df_uncertain['일시'] = pd.to_datetime(df_uncertain['일시'], format='%Y%m%d %H')

In [46]:
df_consumption

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20240601 00,1,2024-06-01 00:00:00,18.3,0.0,2.6,82.0,0.0,0.00,5794.80,호텔,82912.71,77586.0,0,0,0
1,1_20240601 01,1,2024-06-01 01:00:00,18.3,0.0,2.7,82.0,0.0,0.00,5591.85,호텔,82912.71,77586.0,0,0,0
2,1_20240601 02,1,2024-06-01 02:00:00,18.1,0.0,2.6,80.0,0.0,0.00,5338.17,호텔,82912.71,77586.0,0,0,0
3,1_20240601 03,1,2024-06-01 03:00:00,18.0,0.0,2.6,81.0,0.0,0.00,4554.42,호텔,82912.71,77586.0,0,0,0
4,1_20240601 04,1,2024-06-01 04:00:00,17.8,0.0,1.3,81.0,0.0,0.00,3602.25,호텔,82912.71,77586.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20240824 19,100,2024-08-24 19:00:00,29.1,0.0,4.4,76.0,0.4,0.18,3276.00,호텔,162070.24,152943.0,0,0,0
203996,100_20240824 20,100,2024-08-24 20:00:00,28.6,0.0,3.7,74.0,0.0,0.00,3197.52,호텔,162070.24,152943.0,0,0,0
203997,100_20240824 21,100,2024-08-24 21:00:00,28.3,0.0,2.9,74.0,0.0,0.00,3006.60,호텔,162070.24,152943.0,0,0,0
203998,100_20240824 22,100,2024-08-24 22:00:00,28.0,0.0,1.7,76.0,0.0,0.00,2649.72,호텔,162070.24,152943.0,0,0,0
203999,100_20240824 23,100,2024-08-24 23:00:00,28.0,0.0,2.1,75.0,0.0,0.00,2929.32,호텔,162070.24,152943.0,0,0,0

In [47]:
df_uncertain

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20240825 00,1,2024-08-25 00:00:00,26.5,0.0,0.7,80.0,호텔,82912.71,77586.0,0,0,0
1,1_20240825 01,1,2024-08-25 01:00:00,26.1,0.0,0.0,80.0,호텔,82912.71,77586.0,0,0,0
2,1_20240825 02,1,2024-08-25 02:00:00,25.9,0.0,0.3,83.0,호텔,82912.71,77586.0,0,0,0
3,1_20240825 03,1,2024-08-25 03:00:00,25.7,0.0,1.1,83.0,호텔,82912.71,77586.0,0,0,0
4,1_20240825 04,1,2024-08-25 04:00:00,25.5,0.0,1.0,86.0,호텔,82912.71,77586.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100_20240831 19,100,2024-08-31 19:00:00,27.1,0.0,2.7,68.0,호텔,162070.24,152943.0,0,0,0
16796,100_20240831 20,100,2024-08-31 20:00:00,26.5,0.0,2.9,73.0,호텔,162070.24,152943.0,0,0,0
16797,100_20240831 21,100,2024-08-31 21:00:00,26.3,0.0,3.5,73.0,호텔,162070.24,152943.0,0,0,0
16798,100_20240831 22,100,2024-08-31 22:00:00,26.0,0.0,3.4,68.0,호텔,162070.24,152943.0,0,0,0
16799,100_20240831 23,100,2024-08-31 23:00:00,25.7,0.0,2.9,72.0,호텔,162070.24,152943.0,0,0,0

In [48]:

# 1. 시간 관련 피처 생성
df_consumption['month'] = df_consumption['일시'].dt.month
df_consumption['day'] = df_consumption['일시'].dt.day
df_consumption['hour'] = df_consumption['일시'].dt.hour
df_consumption['day_of_week'] = df_consumption['일시'].dt.dayofweek  # 월요일=0, 일요일=6

df_uncertain['month'] = df_uncertain['일시'].dt.month
df_uncertain['day'] = df_uncertain['일시'].dt.day
df_uncertain['hour'] = df_uncertain['일시'].dt.hour
df_uncertain['day_of_week'] = df_uncertain['일시'].dt.dayofweek  # 월요일=0, 일요일=6

# 2. 범주형 피처(건물유형)를 원-핫 인코딩으로 변환
# 각각 인코딩
train_dummies = pd.get_dummies(df_consumption['건물유형'], prefix='건물유형')
test_dummies = pd.get_dummies(df_uncertain['건물유형'], prefix='건물유형')

# 데이터프레임에 붙이기
df_featured = pd.concat([df_consumption, train_dummies], axis=1)
df_t_featured = pd.concat([df_uncertain, test_dummies], axis=1)

# train/test 컬럼을 align 맞추기 (누락된 컬럼 자동 보정)
df_featured, df_t_featured = df_featured.align(df_t_featured, join='outer', axis=1, fill_value=0)

# 3. 모델 학습에 불필요한 원본 컬럼 제외
df_featured = df_featured.drop(columns=['num_date_time', '건물유형'])
df_t_featured = df_t_featured.drop(columns=['num_date_time', '건물유형'])

# 결과 확인
print(df_featured.head())

  ESS저장용량(kWh) PCS용량(kW)  day  day_of_week  hour  month  강수량(mm)  건물번호  \
0            0         0    1            5     0      6      0.0     1
1            0         0    1            5     1      6      0.0     1
2            0         0    1            5     2      6      0.0     1
3            0         0    1            5     3      6      0.0     1
4            0         0    1            5     4      6      0.0     1

   건물유형_IDC(전화국)  건물유형_건물기타  ...  기온(°C)  냉방면적(m2)  습도(%)   연면적(m2)  \
0          False      False  ...    18.3   77586.0   82.0  82912.71
1          False      False  ...    18.3   77586.0   82.0  82912.71
2          False      False  ...    18.1   77586.0   80.0  82912.71
3          False      False  ...    18.0   77586.0   81.0  82912.71
4          False      False  ...    17.8   77586.0   81.0  82912.71

   일사(MJ/m2)                  일시  일조(hr)  전력소비량(kWh)  태양광용량(kW)  풍속(m/s)
0        0.0 2024-06-01 00:00:00     0.0     5794.80          0      2.6
1        0.0 2024-06-01 01:00:00     0.0     5591.85          0      2.7
2        0.0 2024-06-01 02:00:00     0.0     5338.17          0      2.6
3        0.0 2024-06-01 03:00:00     0.0     4554.42          0      2.6
4        0.0 2024-06-01 04:00:00     0.0     3602.25          0      1.3

[5 rows x 28 columns]

In [49]:
print(df_t_featured.head())

  ESS저장용량(kWh) PCS용량(kW)  day  day_of_week  hour  month  강수량(mm)  건물번호  \
0            0         0   25            6     0      8      0.0     1
1            0         0   25            6     1      8      0.0     1
2            0         0   25            6     2      8      0.0     1
3            0         0   25            6     3      8      0.0     1
4            0         0   25            6     4      8      0.0     1

   건물유형_IDC(전화국)  건물유형_건물기타  ...  기온(°C)  냉방면적(m2)  습도(%)   연면적(m2)  \
0          False      False  ...    26.5   77586.0   80.0  82912.71
1          False      False  ...    26.1   77586.0   80.0  82912.71
2          False      False  ...    25.9   77586.0   83.0  82912.71
3          False      False  ...    25.7   77586.0   83.0  82912.71
4          False      False  ...    25.5   77586.0   86.0  82912.71

   일사(MJ/m2)                  일시  일조(hr)  전력소비량(kWh)  태양광용량(kW)  풍속(m/s)
0          0 2024-08-25 00:00:00       0           0          0      0.7
1          0 2024-08-25 01:00:00       0           0          0      0.0
2          0 2024-08-25 02:00:00       0           0          0      0.3
3          0 2024-08-25 03:00:00       0           0          0      1.1
4          0 2024-08-25 04:00:00       0           0          0      1.0

[5 rows x 28 columns]

In [50]:
# Check missing values
pd.isna(df_featured).sum()

ESS저장용량(kWh)     0
PCS용량(kW)        0
day              0
day_of_week      0
hour             0
month            0
강수량(mm)          0
건물번호             0
건물유형_IDC(전화국)    0
건물유형_건물기타        0
건물유형_공공          0
건물유형_백화점         0
건물유형_병원          0
건물유형_상용          0
건물유형_아파트         0
건물유형_연구소         0
건물유형_학교          0
건물유형_호텔          0
기온(°C)           0
냉방면적(m2)         0
습도(%)            0
연면적(m2)          0
일사(MJ/m2)        0
일시               0
일조(hr)           0
전력소비량(kWh)       0
태양광용량(kW)        0
풍속(m/s)          0
dtype: int64

In [51]:
pd.isna(df_t_featured).sum()

ESS저장용량(kWh)     0
PCS용량(kW)        0
day              0
day_of_week      0
hour             0
month            0
강수량(mm)          0
건물번호             0
건물유형_IDC(전화국)    0
건물유형_건물기타        0
건물유형_공공          0
건물유형_백화점         0
건물유형_병원          0
건물유형_상용          0
건물유형_아파트         0
건물유형_연구소         0
건물유형_학교          0
건물유형_호텔          0
기온(°C)           0
냉방면적(m2)         0
습도(%)            0
연면적(m2)          0
일사(MJ/m2)        0
일시               0
일조(hr)           0
전력소비량(kWh)       0
태양광용량(kW)        0
풍속(m/s)          0
dtype: int64

In [52]:
# Check unusual values
df_featured.describe()

,day,day_of_week,hour,month,강수량(mm),건물번호,기온(°C),냉방면적(m2),습도(%),연면적(m2),일사(MJ/m2),일시,일조(hr),전력소비량(kWh),풍속(m/s)
count,204000.000000,204000.000000,204000.000000,204000.000000,204000.000000,204000.000000,204000.000000,2.040000e+05,204000.000000,2.040000e+05,204000.000000,204000,204000.000000,204000.000000,204000.000000
mean,14.835294,3.023529,11.500000,6.929412,0.304185,50.500000,26.098130,1.091272e+05,75.206706,1.857529e+05,0.702752,2024-07-13 11:30:00.000000512,0.277459,3329.575857,1.967977
min,1.000000,0.000000,0.000000,6.000000,0.000000,1.000000,8.400000,3.378400e+02,0.000000,1.003542e+04,0.000000,2024-06-01 00:00:00,0.000000,0.000000,0.000000
25%,8.000000,1.000000,5.750000,6.000000,0.000000,25.750000,23.500000,2.595468e+04,64.000000,5.698032e+04,0.000000,2024-06-22 05:45:00,0.000000,1176.120000,1.000000
50%,15.000000,3.000000,11.500000,7.000000,0.000000,50.500000,26.300000,6.433699e+04,78.000000,1.049387e+05,0.050000,2024-07-13 11:30:00,0.000000,1935.720000,1.800000
75%,22.000000,5.000000,17.250000,8.000000,0.000000,75.250000,28.800000,1.243468e+05,88.000000,2.027810e+05,1.230000,2024-08-03 17:15:00,0.600000,3726.765000,2.700000
max,31.000000,6.000000,23.000000,8.000000,100.900000,100.000000,38.700000,1.956128e+06,100.000000,3.260213e+06,3.950000,2024-08-24 23:00:00,1.000000,27155.940000,15.200000
std,8.446178,1.999866,6.922204,0.793923,2.052947,28.866141,4.052888,2.066793e+05,16.378490,3.373847e+05,1.017394,NaN,0.396476,3689.102792,1.316102

In [53]:
df_t_featured.describe()

,day,day_of_week,hour,month,강수량(mm),건물번호,기온(°C),냉방면적(m2),습도(%),연면적(m2),일사(MJ/m2),일시,일조(hr),전력소비량(kWh),풍속(m/s)
count,16800.00000,16800.00000,16800.000000,16800.0,16800.000000,16800.000000,16800.000000,1.680000e+04,16800.000000,1.680000e+04,16800.0,16800,16800.0,16800.0,16800.000000
mean,28.00000,3.00000,11.500000,8.0,0.039411,50.500000,27.304827,1.091272e+05,73.730833,1.857529e+05,0.0,2024-08-28 11:30:00.000000256,0.0,0.0,1.925756
min,25.00000,0.00000,0.000000,8.0,0.000000,1.000000,18.300000,3.378400e+02,0.000000,1.003542e+04,0.0,2024-08-25 00:00:00,0.0,0.0,0.000000
25%,26.00000,1.00000,5.750000,8.0,0.000000,25.750000,25.200000,2.595468e+04,64.000000,5.698032e+04,0.0,2024-08-26 17:45:00,0.0,0.0,1.000000
50%,28.00000,3.00000,11.500000,8.0,0.000000,50.500000,27.000000,6.433699e+04,75.000000,1.049387e+05,0.0,2024-08-28 11:30:00,0.0,0.0,1.800000
75%,30.00000,5.00000,17.250000,8.0,0.000000,75.250000,29.600000,1.243468e+05,84.000000,2.027810e+05,0.0,2024-08-30 05:15:00,0.0,0.0,2.700000
max,31.00000,6.00000,23.000000,8.0,28.000000,100.000000,35.400000,1.956128e+06,100.000000,3.260213e+06,0.0,2024-08-31 23:00:00,0.0,0.0,7.700000
std,2.00006,2.00006,6.922393,0.0,0.686065,28.866929,2.945470,2.066849e+05,13.119807,3.373940e+05,0.0,NaN,0.0,0.0,1.203548

## Merge & export

In [54]:
# Export full data
df_featured.to_csv(output_dir + "full_data.csv", index = False)
df_t_featured.to_csv(output_dir + "full_test_data.csv", index = False)